@charset "utf-8";
/* CSS Document */
.float{
	position:fixed;
	z-index:5;
	}
.menu{
	height:2em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index:6;
}

li {
	width: 7em;
}
a.head:link, a.head:visited {
	display: block;
	width: 100%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #bebebe;
	text-align: left;
	padding: 4px;
	text-decoration: none;
}
a.head:hover, a.head:active {
	background-color: #223333;
}
.nav1{
	color:red;
	}

.nav1:hover .show{
	display:block;
	}
.show{
	width:4em;
	position:absolute;
	left:5em;
	display:none;
	z-index:7;
	}
