@charset "utf-8";
/* CSS Document */
.float{
	position:fixed;
	z-index:5;
	}
.menu{
	height:2em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index:6;
}

li {
	width:6em;
}
a.head:link, a.head:visited {
	display: block;
	width: 100%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #bebebe;
	text-align: left;
	padding: 4px;
	text-decoration: none;
}
a.head:hover, a.head:active {
	background-color: #223333;
}
ul>a.head:hover{
	background-color: #a11111;
}
.nav1{
	color:red;
	}

.nav1:hover .show{
	display:block;
	}
.show{
	width:6em;
	position:absolute;
	top:2em;
	left:4em;
	display:none;
	z-index:7;
	}
